ETN_SERVER=""
ETN_ODBC_DSN=""
ETN_DBNAME=""

UVA_ODBC_DSN=""
UVA_DBNAME=""
UVA_SERVER=""

EUROBIS_ODBC_DSN=""
EUROBIS_SERVER=""

ODBC_USER=""
ODBC_PSWD=""

EUROBIS_DBNAME=""

MONGODB_CONN=""
MONGODBSANT1_CONN=""
